.custom-btn {
    background-color: #617891 !important;
    border-color: #617891 !important;
    color: #fff !important;
  }
  
  .custom-btn:hover {
    background-color: #50657c !important;
    border-color: #50657c !important;
    color: #fff !important;
  }
  