.header {
    background-color: #617891;
 
}
.header-title {
  margin: 0;
 color: #f9f9f6;
}

.header-icons svg {
  color: #f9f9f6;
  transition: color 0.3s;
}

.header-icons svg:hover {
  color: #f9f9f6;
  vertical-align: middle;
}
